<main class="user">

  <p *ngIf="!payed" class="message">
    {{'paymsg' | i18nSelect:translate}} : {{price | currency:'EUR':'1.2-2'}}
  </p>

  <p *ngIf="payed" class="message">
    {{'bravo' | i18nSelect:translate}}
  </p>

  <form (submit)="payIt()" #userForm="ngForm" *ngIf="!payed">

    <p>
      <label for="firstname">{{'firstname' | i18nSelect:translate}}</label>
      <input
        type="text"
        [(ngModel)]="user.firstname"
        required
        ngControl="firstname"
        #firstname="ngForm"
      >
    </p>

    <p>
      <label for="lastname">{{'lastname' | i18nSelect:translate}}</label>
      <input
        type="text"
        [(ngModel)]="user.lastname"
        required
        ngControl="lastname"
        #lastname="ngForm"
      >
    </p>

    <p>
      <label for="email">Email</label>
      <input
        type="email"
        [(ngModel)]="user.email"
        required
        ngControl="email"
        #email="ngForm"
        pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
      >
    </p>

    <p>
      <label for="creditcard">{{'cb' | i18nSelect:translate}}</label>
      <input
        type="text"
        [(ngModel)]="user.creditcard"
        required
        pattern="[0-9]+"
        minlength="16"
        maxlength="16"
        ngControl="creditcard"
        #creditcard="ngForm"
        [readonly]="!email.valid"
      >
    </p>

    <footer>
      <button [disabled]="!userForm.form.valid">{{'payit' | i18nSelect:translate}}</button>
    </footer>

  </form>

</main>
