<!doctype html>
<html>
<head>
  <base href="/">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

</head>

<body>

  <main-container></main-container>

</body>
</html>
